@using Gamestore_MVC.Models
@model  List<Game>
    @{
        ViewBag.Title = "ViewCart";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>View Cart</h2>


    <table class="table jumbotron">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Developing Company
                </th>
                <th>
                    Condition of the Game
                </th>
                <th>
                    Price
                </th>
            </tr>

        </thead>
        <div>

        <tbody class="table jumbotron">
            @Html.ValidationMessageFor(model => Model, $"{TempData["EmptyCart"]}", new {@class="text-danger"})
            @foreach (Game displayObject in Model)

            {
                <tr>
                    <td>
                        @displayObject.Title
                    </td>
                    <td>
                        @displayObject.Description
                    </td>
                    <td>
                        @displayObject.DevelopingCompany
                    </td>
                    <td>
                        @displayObject.Condition
                    </td>
                    <td>
                        @displayObject.Price
                    </td>
                    <td>
                        @Html.ActionLink("Remove From Cart", "RemoveGame", "Cart", new { GameId = displayObject.GameId }, null)
                    </td>
                </tr>
            }

        </tbody>

        
        <tfoot>
            <tr>
                <td colspan="6">
                    <div class="col-md-2 col-md-offset-6">
                        @Html.ActionLink("Check Out", "CreateOrder", "Order", null, new { @class = "btn btn-danger" })
                    </div>

                </td>
            </tr>
        </tfoot>

    </table>

